@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --bg-color: #6db1bf;
    --txt-color: #fff;
    --accent-color: #301a4b;
}

* {
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    font-family: Roboto, sans-serif;
    margin: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.container {
    background-color: var(--txt-color);
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1), 0 10px 10px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 800px;
    padding: 20px 40px;
}

h3 {
    font-size: 20px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.joke {
    font-size: 30px;
    letter-spacing: 1px;
    line-height: 50px;
    margin: 50px auto;
    max-width: 600px;
}

.btn {
    background-color: var(--accent-color);
    color: var(--txt-color);
    padding: 20px 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 0;
    margin: 10px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.3), 0 6px 6px rgba(0,0,0,0.3);
}

.btn:active {
    transform: scale(0.9);
}

.btn:focus {
    outline: 0;
}